repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: check-toml
          - id: check-yaml
          - id: end-of-file-fixer
            types: [python]
          - id: trailing-whitespace
          - id: requirements-txt-fixer
          - id: check-added-large-files
            args: ["--maxkb=500"]

    - repo: https://github.com/psf/black
      rev: 24.2.0
      hooks:
          - id: black

    - repo: https://github.com/codespell-project/codespell
      rev: v2.2.6
      hooks:
          - id: codespell
            args: [--toml, pyproject-codespell.precommit-toml]
