include LICENSE
include README.md
include requirements.txt
include requirements_docs.txt

recursive-include geemap/data *
recursive-include geemap/examples *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.ipynb
recursive-exclude examples *

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
