black
black[jupyter]
codespell
datapane
deadlink
geopandas
here-map-widget-for-jupyter>=1.1.1
keplergl
ipygany
ipynb-py-convert
ipyvtklink
laspy
localtileserver
mss
netcdf4
palettable
osmnx
owslib
panel
plotly
psycopg2
pydeck
pyntcloud[LAS]
pyvista
rio-cogeo
rioxarray
sqlalchemy
streamlit-folium
voila
xarray_leaflet         