bqplot
colour
earthengine-api>=0.1.304
ee_extra>=0.0.10
ffmpeg-python
folium>=0.11.0
gdown
geeadd>=0.5.1
geocoder
geojson
ipyevents
ipyfilechooser>=0.6.0
ipyleaflet>=0.14.0
ipytree
jupyterlab>=3
mapclassify>=2.4.0
matplotlib
numpy
pandas
pillow
pycrs
pyshp>=2.1.3
python-box
sankee
whiteboxgui>=0.6.0
xyzservices

