bqplot==0.12.9
click==7.1.2
colour==0.1.5
earthengine-api==0.1.221
folium>=0.10.1
geeadd>=0.4.6
geocoder==1.38.1
ipyfilechooser==0.3.4
ipyleaflet>=0.12.2
ipynb-py-convert==0.4.4
matplotlib==3.2.1
pillow==7.1.2
pyshp