black
black[jupyter]
codespell
datapane
deadlink
geedim>=1.3.2
geopandas
here-map-widget-for-jupyter>=1.1.1
keplergl
ipygany
ipynb-py-convert
ipyvtklink
jupyterlab>=3
laspy
localtileserver
mapclassify>=2.4.0
mss
netcdf4
oeel
palettable
osmnx
owslib
panel
plotly
psycopg2
pydeck
pyntcloud[LAS]
pyvista-xarray
rio-cogeo
rioxarray
sqlalchemy
streamlit-folium
voila
xarray_leaflet         