bump2version
coverage
flake8
grip
ipykernel
livereload
nbconvert==6.5.3
nbformat==5.4.0
pip
sphinx
tox
twine
watchdog
wheel
mkdocs
mkdocs-git-revision-date-plugin 
mkdocs-git-revision-date-localized-plugin
mkdocs-jupyter 
mkdocs-material 
mkdocs-pdf-export-plugin
mkdocstrings
mkdocstrings-crystal
mkdocstrings-python-legacy
pygments
pymdown-extensions