black
black[jupyter]
codespell
datapane
geopandas
keplergl
ipygany
ipyvtklink
laspy
localtileserver
netcdf4
osmnx
panel
psycopg2
pydeck
pyntcloud[LAS]
pyvista
rio-cogeo
rioxarray
sqlalchemy
streamlit-folium
xarray_leaflet         