black
black[jupyter]
bump-my-version
codespell
coverage
deadlink
ipykernel
livereload
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-git-revision-date-plugin
mkdocs-jupyter>=0.24.0
mkdocs-material>=9.1.3
mkdocs-pdf-export-plugin
mkdocstrings
mkdocstrings-crystal
mkdocstrings-python-legacy
nbconvert
nbformat
pip
pre-commit
pygments
pymdown-extensions
pyproject-flake8
sphinx
tox
twine
watchdog
wheel
